<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.mapper.ActivePeriodMapper" >
  <resultMap id="BaseResultMap" type="com.movision.mybatis.activePeriod.entity.ActivePeriod" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="postid" property="postid" jdbcType="INTEGER" />
    <result column="begintime" property="begintime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, postid, begintime, endtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yw_active_period
    where postid = #{id,jdbcType=INTEGER}
  </select>

  <!--统计本周内作品数获得者-->
  <select id="queryUserByMaxPostNum" resultType="com.movision.mybatis.user.entity.User" >
      SELECT * FROM yw_user WHERE id = (
          SELECT userid FROM
            (SELECT count(*) as count,userid FROM yw_post WHERE YEARWEEK(date_format(intime,'%Y-%m-%d')) = YEARWEEK(now()) AND isdel = '0' GROUP BY userid) t
             WHERE t.count = (
                    SELECT MAX(count) FROM
                    (SELECT count(*) as count,userid FROM yw_post WHERE YEARWEEK(date_format(intime,'%Y-%m-%d')) = YEARWEEK(now()) AND isdel = '0' GROUP BY userid) t1
            )
      )
  </select>

  <!--查询当前用户本周内发布的作品数-->
  <select id="queryPostNum" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
    SELECT count(*) FROM yw_post WHERE
      userid = #{userid,jdbcType=INTEGER}
      AND YEARWEEK(date_format(intime,'%Y-%m-%d')) = YEARWEEK(now())
      AND isdel = '0'
  </select>

  <!--查询本周内点赞量最高的帖子作者-->
  <select id="queryUserByMaxZanNum" resultType="com.movision.mybatis.user.entity.User" >
    SELECT * FROM yw_user WHERE id = (
        SELECT userid FROM yw_post
            WHERE YEARWEEK(date_format(intime,'%Y-%m-%d')) = YEARWEEK(now()) AND isdel = '0'
            AND zansum =(SELECT MAX(zansum) FROM yw_post WHERE YEARWEEK(date_format(intime,'%Y-%m-%d')) = YEARWEEK(now()) AND isdel = '0')
    )
  </select>

  <!--查询该作者本月单作品点赞最高数-->
  <select id="queryZanNum" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
    SELECT MAX(zansum) FROM yw_post WHERE YEARWEEK(date_format(intime,'%Y-%m-%d')) = YEARWEEK(now()) AND isdel = '0' AND userid = #{userid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yw_active_period
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.movision.mybatis.activePeriod.entity.ActivePeriod" >
    insert into yw_active_period (id, postid, begintime, 
      endtime)
    values (#{id,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.movision.mybatis.activePeriod.entity.ActivePeriod" >
    insert into yw_active_period
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="postid != null" >
        postid,
      </if>
      <if test="begintime != null" >
        begintime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postid != null" >
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.activePeriod.entity.ActivePeriod" >
    update yw_active_period
    <set >
      <if test="postid != null" >
        postid = #{postid,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        begintime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.activePeriod.entity.ActivePeriod" >
    update yw_active_period
    set postid = #{postid,jdbcType=INTEGER},
      begintime = #{begintime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>