<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.mapper.ExhibitionMapper" >
  <resultMap id="BaseResultMap" type="com.movision.mybatis.entity.Exhibition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createid" property="createid" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="publishTime" property="publishtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="startDate" property="startdate" jdbcType="DATE" />
    <result column="endDate" property="enddate" jdbcType="DATE" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="subType" property="subtype" jdbcType="INTEGER" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createrType" property="creatertype" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.movision.mybatis.entity.Exhibition" extends="BaseResultMap" >
    <result column="introduce" property="introduce" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createid, title, publishTime, updateTime, startDate, endDate, province, city, 
    area, type, subType, company, address, imgUrl, views, status, createrType, is_deleted, 
    reason
  </sql>
  <sql id="Blob_Column_List" >
    introduce
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_c_exhibition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_c_exhibition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.movision.mybatis.entity.Exhibition" >
    insert into t_c_exhibition (id, createid, title, 
      publishTime, updateTime, startDate, 
      endDate, province, city, 
      area, type, subType, 
      company, address, imgUrl, 
      views, status, createrType, 
      is_deleted, reason, introduce
      )
    values (#{id,jdbcType=INTEGER}, #{createid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{publishtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{startdate,jdbcType=DATE}, 
      #{enddate,jdbcType=DATE}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{subtype,jdbcType=INTEGER}, 
      #{company,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{views,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{creatertype,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=BIT}, #{reason,jdbcType=VARCHAR}, #{introduce,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.movision.mybatis.entity.Exhibition" >
    insert into t_c_exhibition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createid != null" >
        createid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="publishtime != null" >
        publishTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="subtype != null" >
        subType,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creatertype != null" >
        createrType,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=DATE},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="subtype != null" >
        #{subtype,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        #{views,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creatertype != null" >
        #{creatertype,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.entity.Exhibition" >
    update t_c_exhibition
    <set >
      <if test="createid != null" >
        createid = #{createid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        publishTime = #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=DATE},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="subtype != null" >
        subType = #{subtype,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creatertype != null" >
        createrType = #{creatertype,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.movision.mybatis.entity.Exhibition" >
    update t_c_exhibition
    set createid = #{createid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      publishTime = #{publishtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      startDate = #{startdate,jdbcType=DATE},
      endDate = #{enddate,jdbcType=DATE},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      subType = #{subtype,jdbcType=INTEGER},
      company = #{company,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createrType = #{creatertype,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      reason = #{reason,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.entity.Exhibition" >
    update t_c_exhibition
    set createid = #{createid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      publishTime = #{publishtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      startDate = #{startdate,jdbcType=DATE},
      endDate = #{enddate,jdbcType=DATE},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      subType = #{subtype,jdbcType=INTEGER},
      company = #{company,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createrType = #{creatertype,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectImg" resultType="java.util.Map">
  	<![CDATA[  
  	SELECT
      id,
      imgUrl
    FROM
      t_c_exhibition m
    WHERE imgUrl IS NOT NULL
      AND imgUrl <> ''
      AND LOCATE('default',imgUrl)=0	
      AND NOT EXISTS
      (SELECT
        1
      FROM
        t_img_compress_log l
      WHERE l.`relation_id` = m.`id`
        AND l.`img_url` = m.`imgUrl`
        AND l.`source_table` = 't_c_exhibition')
        LIMIT 500
  	]]> 
  </select>
  
</mapper>