<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.mapper.ZhbRecordMapper" >
  <resultMap id="BaseResultMap" type="com.movision.mybatis.entity.ZhbRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="operater_id" property="operaterId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, buyer_id, operater_id, amount, status, type, goods_type, goods_id, 
    description, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_zhb_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_zhb_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.movision.mybatis.entity.ZhbRecord" >
    insert into t_zhb_record (id, order_no, buyer_id, 
      operater_id, amount, status, 
      type, goods_type, goods_id, 
      description, add_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{buyerId,jdbcType=BIGINT}, 
      #{operaterId,jdbcType=BIGINT}, #{amount,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, #{goodsId,jdbcType=BIGINT}, 
      #{description,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.movision.mybatis.entity.ZhbRecord" >
    insert into t_zhb_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="operaterId != null" >
        operater_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="operaterId != null" >
        #{operaterId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.entity.ZhbRecord" >
    update t_zhb_record
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="operaterId != null" >
        operater_id = #{operaterId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.entity.ZhbRecord" >
    update t_zhb_record
    set order_no = #{orderNo,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=BIGINT},
      operater_id = #{operaterId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectTotalValidAmount" parameterType="java.util.Map" resultType="java.math.BigDecimal">
    SELECT SUM(amount)  FROM t_zhb_record WHERE TYPE = '2' AND status = '1' AND buyer_id = #{memberId,jdbcType=BIGINT} AND add_time > DATE_SUB( #{comparedTime,jdbcType=TIMESTAMP}, INTERVAL 1 YEAR)
  </select>

  <select id="selectExpiredZhbRecordList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from t_zhb_record
    where TYPE = '2' AND STATUS = '1'
    AND add_time BETWEEN DATE_SUB( DATE_ADD(CURDATE(),INTERVAL #{expiredDays,jdbcType=BIGINT} DAY ), INTERVAL 1 YEAR) AND DATE_SUB( DATE_ADD(CURDATE(),INTERVAL #{expiredDays2,jdbcType=BIGINT} DAY ), INTERVAL 1 YEAR)
    and id > #{startId,jdbcType=BIGINT}

  </select>
</mapper>